
bac

teste

.notificações{
    content: "";
}

.submenu{
    content: "";
}

#container{
    width: 100%;
    background: red
}

li{
    width: 50%;
    list-style: none;
}
.nav{
    display: inline block;
}
ul{
    list-style-type: square none;
}